<mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Utilizatori">   
      <app-users-panel></app-users-panel>
    </mat-tab>
    <mat-tab *ngIf="canSeeTab()" label="Vizualizare documente">
      <app-subscriptions-panel></app-subscriptions-panel>
    </mat-tab>

    
    <mat-tab *ngIf="canSeeStatistics()" label="Statistici">
    <app-users-statistics></app-users-statistics> 
    </mat-tab>
    
    <mat-tab *ngIf="canSeeUsersRoles()" label="Administrare utilizatori"> 
      <div class="container align-middle">
      <div class="roleContent align-middle">
      <mat-card >
        
      <form class="loginForm" name="form" (ngSubmit)="onSubmit()">
        <div class="container">

          <div class="row">
      <mat-form-field class="w-27 p-3" appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input type="text" matInput [matAutocomplete]="auto" [formControl]="formControl" >
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formControl.invalid">Email invalid</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="w-27 p-3" appearance="outline" color="accent" >
        <mat-label>Grad</mat-label>
        <mat-select [(value)]="selected" [formControl]="role">
          <mat-option value="ROLE_MEMBER">Membru</mat-option>
          <mat-option value="ROLE_HELPER">Helper</mat-option>
          <mat-option value="ROLE_MODERATOR">Moderator</mat-option>
          <mat-option value="ROLE_SUPERVISOR">Supervisor</mat-option>
          <mat-option value="ROLE_ADMINISTRATOR">Administrator</mat-option>
        </mat-select>
        <mat-error *ngIf="role.invalid">Nu ai selectat rolul.</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
    </div>
      <button class="butonel" mat-raised-button color="accent" [disabled]="role.invalid || formControl.invalid">Setează</button>
    </div>
    </form>
  </mat-card>
</div>
</div>
    </mat-tab>
</mat-tab-group>