<div class="background">
    <!-- <p class="sss">alatura-te comunitatii noastre formata din {{numberOfUsers}} membri</p> -->
    
    <div class="splash">
        <h1 class="splash-head">Lasă-ți documentele să expire
        </h1>
        <p class="splash-subhead">
            {{numberOfUsers}} utilizatori și-au lăsat încrederea în mâna noastră!
            <br>
            Fii unul dintre ei,
        </p>
        <p>
            <a routerLink="{{routerLink}}" mat-raised-button class="pure-button pure-button-primary">{{messageAbout}}</a>
        </p>
    
    
    </div>
    
    
    </div>