<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <mat-icon>
        dashboard
      </mat-icon>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="home">
        <mat-icon matTooltip="Acasă" matTooltipPosition="right">home</mat-icon>
      </a>
      <a *ngIf="!isLoggedIn(); else loggedIn"mat-list-item routerLinkActive="active" routerLink="login">
        <mat-icon matTooltip="Loghează-te" matTooltipPosition="right" >login</mat-icon>
      </a>
      <ng-template #loggedIn>
        <a *ngIf="isLoggedIn()"  mat-list-item routerLinkActive="active" routerLink="user-profile" >
        <mat-icon matBadge="{{alertNumber}}" [matBadgeHidden]="alertNumber <= 0"  matBadgeColor="warn" matTooltip="Profilul meu" matTooltipPosition="right">account_circle</mat-icon>
       </a>
      </ng-template>
      <a *ngIf="isAuthorized()" mat-list-item routerLinkActive="active" routerLink="admin-panel">
        <mat-icon matTooltip="Panou de control" matTooltipPosition="right">admin_panel_settings</mat-icon>
      </a>
      <a *ngIf="!isLoggedIn()" mat-list-item routerLinkActive="active" routerLink="register">
        <mat-icon matTooltip="Înregistrează-te" matTooltipPosition="right" >how_to_reg</mat-icon>
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="about">
        <mat-icon  matTooltip="Despre" matTooltipPosition="right">info</mat-icon>
      </a>
      <a *ngIf="isLoggedIn()" mat-list-item (click)="logout()">
        <mat-icon matTooltip="Deconectează-te" matTooltipPosition="right" >logout</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Gestionare documente</span>
      <div class="name" style="position: absolute; top: 0; right: 0; width: 100px; text-align:right;" *ngIf="isLoggedIn()">{{user.profile!.lastName}}</div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>