.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 60px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.email {
  display: flex;
  position: relative;
  justify-content: flex-end;
  right: 5px;
  color: white;
  text-decoration: none;
  transition: opacity 0.2s;
  /* width: 100%; */
}    

.email:hover {
  opacity: 0.6;
}