<div class="container">
    <div class="align-middle">Resetează-ți parola:</div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
<div class="cod">
    <mat-form-field appearance="outline" color="accent" >
        <mat-label >Cod</mat-label>
        <input matInput  formControlName="cod">
    </mat-form-field>
</div>

<div class="password">
    <mat-form-field appearance="outline" color="accent">
        <mat-label>Noua parolă</mat-label>
        <input type="password" matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <div matSuffix *ngIf="hidePassword === false">
            <div (click)="hidePassword = !hidePassword">
                <mat-icon>visibility</mat-icon>
            </div>
        </div>
        <div matSuffix *ngIf="hidePassword === true">
            <div (click)="hidePassword = !hidePassword">
                <mat-icon>visibility_off</mat-icon>
            </div>
        </div>
    </mat-form-field>
</div>
<button mat-raised-button color="accent">Resetează parola</button>

</form>
</div>