<div class="context">
    <h1>Toate tipurile de documente într-un singur loc.</h1>
</div>

<div class="area" >
    <div class="container-fluid">

        <div class="row">

    
            <div class="col-sm-3">
    <mat-card >
        <mat-card-header>
            <p class="align-middle">Stocarea datelor</p>
        </mat-card-header>
        <mat-card-content>Datele dumneavoastră vor fi întodeauna protejate.</mat-card-content>
    </mat-card>
</div>

    <div class="col-sm-3">
    <mat-card >
        <mat-card-header>
            <p class="align-middle">Cont gratis</p>
        </mat-card-header>
        <mat-card-content>Benefieciezi de cont gratis pe care îl creezi super simplu.</mat-card-content>
    </mat-card>
</div>
<div class="col-sm-3">
    <mat-card >
        <mat-card-header>
            <p class="align-middle">Notificări</p>
        </mat-card-header>
        <mat-card-content>Când vor expira documentele tale, te vom notifica la orice oră!</mat-card-content>
    </mat-card>
</div>
<div class="col-sm-3">
    <mat-card >
        <mat-card-header>
            <p class="align-middle">Tablou de bord</p>
        </mat-card-header>
        <mat-card-content>Prezentarea generală a stării documentelor.</mat-card-content>
    </mat-card>
</div>
</div>
</div>

        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >