<div class="background">
  <div class="container">
  <!-- <div class="container">
    <mat-card class="editCard">
      <div class="editForm">
      <mat-label class="fields">Nume:  </mat-label><mat-label class="fieldDetail">{{nume}}</mat-label>
      <mat-label class="fields">Prenume:</mat-label><mat-label class="fieldDetail">{{prenume}}</mat-label>
      <mat-label class="fields">Telefon:</mat-label><mat-label class="fieldDetail">{{telefon}}</mat-label>
      <mat-label class="fields">Data nașterii:</mat-label><mat-label class="fieldDetail">{{dataNasterii | date}}</mat-label>
      </div>
    </mat-card>
  </div> -->




<form [formGroup]="updateUserDetailsForm">

  <div class="container">

<mat-card class="container">
  <mat-card-title class="text-center mb-4 mt-3">Informațiile contului dumneavoastră</mat-card-title>
  <div class="row">
    <div class ="col-xl-3 ">
  <mat-form-field appearance="fill">
    <mat-label>Nume</mat-label>
    <input matInput placeholder="{{nume}}" formControlName="lastName">
  </mat-form-field>
</div>


<div class="col-xl-3 ">
  <mat-form-field appearance="fill">
    <mat-label>Prenume</mat-label>
    <input matInput placeholder="{{prenume}}" formControlName="firstName">
  </mat-form-field>
</div>

<div class="col-xl-3 ">
  <mat-form-field appearance="fill">
    <mat-label>Telefon</mat-label>
    <input matInput placeholder="{{telefon}}" formControlName="phoneNumber">
  </mat-form-field>
</div>

<div class="col-xl-3 ">
  <mat-form-field appearance="fill">
    <mat-label>Județ</mat-label>
    <input matInput placeholder="{{county}}" formControlName="county">
  </mat-form-field>
</div>
</div>

<div class="row">
<div class="col-xl-3 ">
  <mat-form-field appearance="fill">
    <mat-label>Oraș</mat-label>
    <input matInput placeholder="{{city}}" formControlName="city">
  </mat-form-field>
</div>


<div class="col-xl-3 ">
  <mat-form-field appearance="fill">
    <mat-label>Localitate</mat-label>
    <input matInput placeholder="{{townShip}}" formControlName="townShip">
  </mat-form-field>
</div>

<div class="col-xl-3 ">
  <mat-form-field appearance="fill">
    <mat-label>Strada</mat-label>
    <input matInput placeholder="{{street}}" formControlName="street">
  </mat-form-field>
</div>

<div class="col-xl-3 ">
  <mat-form-field appearance="fill">
    <mat-label>Număr</mat-label>
    <input matInput placeholder="{{gateNumber}}" formControlName="gateNumber">
  </mat-form-field>
</div>


<div class="col-xl-3 ">
  <mat-form-field appearance="fill">
    <mat-label>Sex</mat-label>
    <input matInput placeholder="{{gender}}" formControlName="gender">
  </mat-form-field>
</div>

<div class="col-xl-3 ">
  <mat-form-field appearance="fill">
    <mat-label>Cod numeric personal</mat-label>
    <input matInput placeholder="{{cnp}}" formControlName="cnp">
  </mat-form-field>
</div>


<div class="col-xl-3 ">
  <mat-form-field appearance="fill"   >
    <mat-label>Data nașterii</mat-label>
      <input matInput  placeholder="{{dataNasterii | date}}"  [matDatepicker]="picker" formControlName="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false" ></mat-datepicker>
  </mat-form-field>
</div>
  <div class="col-xl-3 btn-lg btn-block">
    <div class="">
    <button  mat-raised-button color="primary" (click)="updateUserDetails()">Actualizează</button>
  </div>
  </div>
</div>

</mat-card>
</div>

</form>

<div class="container">
  <mat-card class="container">
    <mat-card-title class="text-center">Documentele dumneavoastră</mat-card-title>
<mat-form-field appearance="fill">
  <mat-label>Tipul</mat-label>
  <mat-select [(value)]="selected">
    <mat-option value="niciuna">Niciuna</mat-option>
    <mat-option value="rca">Asigurare RCA</mat-option>
    <mat-option value="ci">Carte de identitate</mat-option>
    <mat-option value="rov">Rovinieta</mat-option>
    <mat-option value="itp">ITP</mat-option>
    <mat-option value="rlb">Rata la bancă</mat-option>
    <mat-option value="impozit">Impozit</mat-option>
  </mat-select>
</mat-form-field>

<container-element [ngSwitch]="selected">
  <!-- the same view can be shown in more than one case -->
    <div *ngSwitchCase="'rca'">
      <app-option-rca></app-option-rca>
    </div>
    <div *ngSwitchCase="'ci'">
      <app-option-carteidentitate></app-option-carteidentitate>
    </div>
    <div *ngSwitchCase="'rov'">
      <app-option-rov></app-option-rov>
    </div>
  <div *ngSwitchCase="'itp'">
      <app-option-itp></app-option-itp>
  </div> 
  <div *ngSwitchCase="'rlb'">
    <app-option-rata-la-banca></app-option-rata-la-banca>
</div> 
<div *ngSwitchCase="'impozit'">
  <app-option-impozit></app-option-impozit>

</div> 
  <!--default case when there are no matches -->
  <p *ngSwitchDefault></p>
 
</container-element>
</mat-card>
</div>
</div>

<!-- 
<mat-card>
  <mat-card-title class="tableTitle">Acestea sunt abonamentele tale:</mat-card-title>

    <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="plateNumber">
      <th mat-header-cell *matHeaderCellDef> Număr de înmatriculare </th>
      <td mat-cell *matCellDef="let element"> {{element.plateNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="made">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let element"> {{element.made}} </td>
    </ng-container>


    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model </th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>


    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Tipul </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>


    <ng-container matColumnDef="expireDate">
      <th mat-header-cell *matHeaderCellDef> Data expirării </th>
      <td mat-cell *matCellDef="let element"> {{element.expireDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acțiuni</th>
      <td mat-button mat-cell *matCellDef="let element" >
        <button mat-button><mat-icon>edit</mat-icon></button>
        <button mat-button (click)="confirm(element.id)">
          <mat-icon>clear</mat-icon>
        </button>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card> -->
