<div class="background">
  <div class="container">
  <!-- <div class="container">
    <mat-card class="editCard">
      <div class="editForm">
      <mat-label class="fields">Nume:  </mat-label><mat-label class="fieldDetail">{{nume}}</mat-label>
      <mat-label class="fields">Prenume:</mat-label><mat-label class="fieldDetail">{{prenume}}</mat-label>
      <mat-label class="fields">Telefon:</mat-label><mat-label class="fieldDetail">{{telefon}}</mat-label>
      <mat-label class="fields">Data nașterii:</mat-label><mat-label class="fieldDetail">{{dataNasterii | date}}</mat-label>
      </div>
    </mat-card>
  </div> -->




<form [formGroup]="updateUserDetailsForm">

  <div class="container">

<mat-card class="container">
  <mat-card-title class="text-center mb-4 mt-3">Informațiile contului dumneavoastră</mat-card-title>
  <div class="row">
    <div class ="col-xl-3 col-md-4 col-sm-6 col-auto">

  <mat-form-field appearance="fill">
    <mat-label>Nume</mat-label>
    <input matInput placeholder="{{nume}}" formControlName="lastName">
    <mat-error *ngIf="updateUserDetailsForm.get('lastName')?.invalid">Numele este invalid.</mat-error>
  </mat-form-field>
</div>


<div class="col-xl-3 col-md-4 col-sm-6 col-auto">
  <mat-form-field appearance="fill">
    <mat-label>Prenume</mat-label>
    <input matInput placeholder="{{prenume}}" formControlName="firstName">
    <mat-error *ngIf="updateUserDetailsForm.get('firstName')?.invalid">Prenumele este invalid.</mat-error>
  </mat-form-field>
</div>

<div class="col-xl-3 col-md-4 col-sm-6 col-auto">
  <mat-form-field appearance="fill">
    <mat-label>Telefon</mat-label>
    <input matInput placeholder="{{telefon}}" formControlName="phoneNumber">
    <mat-error *ngIf="updateUserDetailsForm.get('phoneNumber')?.invalid">Numărul de telefon este invalid.</mat-error>
  </mat-form-field>
</div>


<div class="col-xl-3 col-md-4 col-sm-6 col-auto">
  <mat-form-field appearance="fill">
    <mat-label>Județ</mat-label>
    <input matInput placeholder="{{county}}" formControlName="county">
    <mat-error *ngIf="updateUserDetailsForm.get('county')?.invalid">Județul este invalid!</mat-error>

  </mat-form-field>
</div>



<div class="col-xl-3 col-md-4 col-sm-6 col-auto">
  <mat-form-field appearance="fill">
    <mat-label>Oraș</mat-label>
    <input matInput placeholder="{{city}}" formControlName="city">
    <mat-error *ngIf="updateUserDetailsForm.get('city')?.invalid">Orașul poate conține caractere ilegale.</mat-error>

  </mat-form-field>
</div>


<div class="col-xl-3 col-md-4 col-sm-6 col-auto">
  <mat-form-field appearance="fill">
    <mat-label>Localitate</mat-label>
    <input matInput placeholder="{{townShip}}" formControlName="townShip">
    <mat-error *ngIf="updateUserDetailsForm.get('townShip')?.invalid">Localitatea este incorectă.</mat-error>
  </mat-form-field>
</div>

<div class="col-xl-3 col-md-4 col-sm-6 col-auto">
  <mat-form-field appearance="fill">
    <mat-label>Strada</mat-label>
    <input matInput placeholder="{{street}}" formControlName="street">
    <mat-error *ngIf="updateUserDetailsForm.get('street')?.invalid">Strada este invalidă.</mat-error>

  </mat-form-field>
</div>

<div class="col-xl-3 col-md-4 col-sm-6 col-auto">
  <mat-form-field appearance="fill">
    <mat-label>Număr</mat-label>
    <input matInput placeholder="{{gateNumber}}" formControlName="gateNumber">
    <mat-error *ngIf="updateUserDetailsForm.get('street')?.invalid">Numărul este invalid.</mat-error>

  </mat-form-field>
</div>


<div class="col-xl-3 col-md-4 col-sm-6 col-auto">
  <mat-form-field appearance="fill">
    <mat-label>Sex</mat-label>
    <mat-select [(value)]="selectedType" formControlName="gender">
      <mat-option value="masculin">Masculin</mat-option>
      <mat-option value="feminin">Feminin</mat-option>
    </mat-select>
    <mat-error *ngIf="updateUserDetailsForm.get('gender')?.invalid">Nu ai selectat sexul.</mat-error>
  </mat-form-field>
</div>

<div class="col-xl-3 col-md-4 col-sm-6 col-auto">
  <mat-form-field appearance="fill">
    <mat-label>Cod numeric personal</mat-label>
    <input matInput placeholder="{{cnp}}" formControlName="cnp">
    <mat-error *ngIf="updateUserDetailsForm.get('cnp')?.invalid">Codul numeric personal este invalid.</mat-error>
  </mat-form-field>
  
</div>


<div class="col-xl-3 col-md-4 col-sm-5 col-auto">
  <mat-form-field appearance="fill" >
    <mat-label>Data nașterii</mat-label>
      <input matInput  placeholder="{{dataNasterii | date}}"  [matDatepicker]="picker" formControlName="dateOfBirth">
      <mat-datepicker-toggle class="calendar" matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false" ></mat-datepicker>
  </mat-form-field>
</div>
  <div class="col-xl-3 btn-lg btn-block col-md-4">
    <div>
    <button  mat-raised-button color="primary" (click)="updateUserDetails()">Actualizează</button>
  </div>
  </div>
</div>
</mat-card>
</div>

</form>

<div class="container">
  <mat-card class="container">
    <mat-card-title class="text-center">Documentele dumneavoastră</mat-card-title>
<mat-form-field appearance="fill">
  <mat-label>Tipul</mat-label>
  <mat-select [(value)]="selected">
    <mat-option value="niciuna">Niciuna</mat-option>
    <mat-option value="rca">Asigurare RCA</mat-option>
    <mat-option value="ci">Carte de identitate</mat-option>
    <mat-option value="rov">Rovinieta</mat-option>
    <mat-option value="itp">ITP</mat-option>
    <mat-option value="rlb">Rata la bancă</mat-option>
    <mat-option value="impozit">Impozit</mat-option>
  </mat-select>
</mat-form-field>

<container-element [ngSwitch]="selected">

    <div *ngSwitchCase="'rca'">
      <app-option-rca></app-option-rca>
    </div>
    <div *ngSwitchCase="'ci'">
      <app-option-carteidentitate></app-option-carteidentitate>
    </div>
    <div *ngSwitchCase="'rov'">
      <app-option-rov></app-option-rov>
    </div>
  <div *ngSwitchCase="'itp'">
      <app-option-itp></app-option-itp>
  </div> 
  <div *ngSwitchCase="'rlb'">
    <app-option-rata-la-banca></app-option-rata-la-banca>
</div> 
<div *ngSwitchCase="'impozit'">
  <app-option-impozit></app-option-impozit>

</div> 
  <p *ngSwitchDefault></p>
 
</container-element>
</mat-card>
</div>
</div>

