
.background {
    /* background-image: url('../../assets/backgroundUserProfile.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
}

.tableTitle { 
    font-family: 'Source Code Pro', monospace;

}


.documents {
    padding-top: 15px;
}

.container {
    padding-top: 15px;
}

mat-card {
    display: inline-block;
}


@media (max-width: 575px){

    mat-form-field {
        width: 230px;
    }
    
}



@media (max-width: 563px){

    mat-form-field {
        width: 220px;
    }
    
}




