


  
  <div class="container col-md-12">
    <mat-card class="myCard">
      <mat-card-content >

        <div class="firstDiagram">
          <canvas baseChart 
            [data]="pieChartDataGender" 
            [labels]="pieChartLabelsGenders" 
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
        </div>

        <div class="secondDiagram" >
          <canvas baseChart 
            [data]="pieChartDataDocuments" 
            [labels]="pieChartLabelsDocuments" 
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
        </div>
  <div style="display: inline-block; height: 25%; width: 25%;">
    <canvas baseChart 
      [data]="pieChartDataRoles" 
      [labels]="pieChartLabelsRoles" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
    </canvas>
  </div>

  <div style="display: inline-block; height: 25%; width: 25%;">
    <canvas baseChart 
      [data]="pieChartDataMades" 
      [labels]="pieChartLabelsMades" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend"
      [colors]="chartColors">
    </canvas>
  </div>
</mat-card-content>
</mat-card>
</div>



