<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" #f="ngForm">

  <div class="container">

    <div class="row">

      <div class="col-xl-3 pl-2">
      <mat-form-field appearance="fill">
        <mat-label>Nume</mat-label>
        <input matInput placeholder="{{nume}" value="{{nume}}" formControlName="lastName">
        <mat-error *ngIf="formGroup.get('lastName')?.invalid">Numele este invalid sau necompletat.</mat-error>
      </mat-form-field>
    </div>

    <div class="col-xl-3 pl-2">
      <mat-form-field appearance="fill">
        <mat-label>Prenume</mat-label>
        <input matInput placeholder="{{nume}" value="{{nume}}" formControlName="firstName">
        <mat-error *ngIf="formGroup.get('firstName')?.invalid">Prenumele este invalid sau necompletat.</mat-error>
      </mat-form-field>
  </div>
  
    

  <div class="col-xl-3 pl-2">
      <mat-form-field appearance="fill">
        <mat-label>Mențiuni</mat-label>
        <input matInput placeholder="Impozit casă Buzoiești" value="Impozit teren Arad" formControlName="mentions">
        <mat-error *ngIf="formGroup.get('mentions')?.invalid">Prenumele este invalid sau necompletat.</mat-error> 
      </mat-form-field>
  </div>      
    
  <div class="col-xl-3 pl-2">
      <mat-form-field appearance="fill">
        <mat-label>Adresa </mat-label>
        <input matInput placeholder="Impozit casă Buzoiești" value="Impozit teren Arad" formControlName="fullAddress">
        <mat-error *ngIf="formGroup.get('fullAddress')?.invalid">Adresa este necompletată.</mat-error> 
      </mat-form-field>
  </div>
    

  <div class="col-xl-3 pl-2">
      
      <mat-form-field appearance="fill">
        <mat-label>Data plății
        </mat-label>
        <input matInput placeholder="LL/ZZ/AAAA"  [matDatepicker]="picker" formControlName="expireDate">
        <mat-error *ngIf="formGroup.get('expireDate')?.invalid">Data expirării nu are un format corect.</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false" ></mat-datepicker>
      </mat-form-field>
  </div>
        
  <div class="col-xl-3">
    <div class="pb-3">
      <button mat-raised-button color="primary">Adaugă</button>
      </div>
      </div>

    </div>
  </div>
    </form> 
    
    <div class="container">
    <mat-card>
      <mat-card-title class="tableTitle">Acestea sunt cărțile dumneavoastră de identitate înregistrate:</mat-card-title>
    
        <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Nume </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> Prenume </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
    

        <ng-container matColumnDef="payData">
          <th mat-header-cell *matHeaderCellDef> Data plății </th>
          <td [style]="element.expireDate == expirations.dateNow ? expirations.colorA : element.expireDate < expirations.dateNow ? expirations.colorE : expirations.date3Later >= element.expireDate ? expirations.colorD : expirations.date10Later > element.expireDate ? expirations.colorC : expirations.colorB" mat-cell *matCellDef="let element"> {{element.expireDate | date}} </td>
        </ng-container>
        
        <ng-container matColumnDef="fullAddress">
          <th mat-header-cell *matHeaderCellDef> Adresa </th>
          <td mat-cell *matCellDef="let element"> {{element.fullAddress}} </td>
        </ng-container>
    
        
        
        <ng-container matColumnDef="mentions">
          <th mat-header-cell *matHeaderCellDef> Mențiuni</th>
          <td mat-cell *matCellDef="let element"> {{element.mentions}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acțiuni</th>
          <td mat-button mat-cell *matCellDef="let element" >
            <button mat-button (click)="edit(element.id)"><mat-icon>edit</mat-icon></button>
            <button mat-button (click)="confirm(element.id)">
              <mat-icon>clear</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>