<div class="background">
  <!-- <div class="container">
    <mat-card class="editCard">
      <div class="editForm">
      <mat-label class="fields">Nume:  </mat-label><mat-label class="fieldDetail">{{nume}}</mat-label>
      <mat-label class="fields">Prenume:</mat-label><mat-label class="fieldDetail">{{prenume}}</mat-label>
      <mat-label class="fields">Telefon:</mat-label><mat-label class="fieldDetail">{{telefon}}</mat-label>
      <mat-label class="fields">Data nașterii:</mat-label><mat-label class="fieldDetail">{{dataNasterii | date}}</mat-label>
      </div>
    </mat-card>
  </div> -->

</div>

<mat-form-field appearance="fill">
  <mat-label>Nume</mat-label>
  <input matInput placeholder="{{nume}}" value="{{nume}}">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Prenume</mat-label>
  <input matInput placeholder="{{prenume}}" value="{{prenume}}">
</mat-form-field>


<mat-form-field appearance="fill">
  <mat-label>Telefon</mat-label>
  <input matInput placeholder="{{telefon}}" value="{{telefon}}">
</mat-form-field>


<mat-form-field appearance="fill"   >
<mat-label>Data nașterii</mat-label>
<input matInput [value]="dataNasterii"  placeholder="{{dataNasterii | date}}"  [matDatepicker]="picker" >
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker disabled="false" ></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Tipul</mat-label>
  <mat-select [(value)]="selected">
    <mat-option value="niciuna">Niciuna</mat-option>
    <mat-option value="rca">Asigurare RCA</mat-option>
    <mat-option value="ci">Carte de identitate</mat-option>
    <mat-option value="rov">Rovinieta</mat-option>
    <mat-option value="itp">ITP</mat-option>
  </mat-select>
</mat-form-field>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" #f="ngForm" >
<container-element [ngSwitch]="selected">
  <!-- the same view can be shown in more than one case -->
    <div *ngSwitchCase="'rca'">

      <mat-form-field appearance="fill">
        <mat-label>Număr mașină</mat-label>
        <input matInput placeholder="AG 22 UNV" formControlName="plateNumber" >
        <mat-error *ngIf="formGroup.get('plateNumber')?.invalid">Numărul mașinii este invalid.</mat-error>

      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <input matInput placeholder="Dacia" formControlName="made">
        <mat-error *ngIf="formGroup.get('made')?.invalid">Marca mașinii este invalidă.</mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <input matInput placeholder="Sandero" formControlName="model">
        <mat-error *ngIf="formGroup.get('model')?.invalid">Modelul mașinii nu este inserat.</mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill"   >
        <mat-label>Data expirării</mat-label>
        <input matInput placeholder="ZZ/LL/AAAA"  [matDatepicker]="picker" formControlName="expireDate" >
        <mat-error *ngIf="formGroup.get('expireDate')?.invalid">Data expirării nu are un format corect.</mat-error>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false" ></mat-datepicker>
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'ci'">

      <mat-form-field appearance="fill">
        <mat-label>Nume</mat-label>
        <input matInput placeholder="{{nume}}" value="{{nume}}" formControlName="lastName">
        <mat-error *ngIf="formGroup.get('lastName')?.invalid">Numele este invalid sau necompletat.</mat-error>

      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Prenume</mat-label>
        <input matInput placeholder="{{prenume}}" value="{{prenume}}" formControlName="firstName">
        <mat-error *ngIf="formGroup.get('firstName')?.invalid">Prenumele este invalid sau necompletat.</mat-error>

      </mat-form-field>
      
      
      <mat-form-field appearance="fill"   >
        <mat-label>Data expirării</mat-label>
        <input matInput placeholder="ZZ/LL/AAAA"  [matDatepicker]="picker" formControlName="expireDate">
        <mat-error *ngIf="formGroup.get('expireDate')?.invalid">Data expirării nu are un format corect.</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false" ></mat-datepicker>
      </mat-form-field>

    </div>
    <div *ngSwitchCase="'rov'">
      <mat-form-field appearance="fill">
        <mat-label>Număr mașină</mat-label>
        <input matInput placeholder="TM 10 REN" formControlName="plateNumber">
        <mat-error *ngIf="formGroup.get('plateNumber')?.invalid">Numărul mașinii este invalid.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <input matInput placeholder="Audi" formControlName="made">
        <mat-error *ngIf="formGroup.get('made')?.invalid">Marca mașinii este necompletată sau incorectă.</mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <input matInput placeholder="A6" formControlName="model">
        <mat-error *ngIf="formGroup.get('model')?.invalid">Modelul este necompletat sau invalid.</mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill"   >
        <mat-label>Data expirării</mat-label>
        <input matInput placeholder="ZZ/LL/AAAA"  [matDatepicker]="picker" formControlName="expireDate">
        <mat-error *ngIf="formGroup.get('expireDate')?.invalid">Data expirării este invalidă. (ZZ/LL/AAAA)</mat-error>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false" ></mat-datepicker>
      </mat-form-field>
    </div>
  <div *ngSwitchCase="'itp'">
    <mat-form-field appearance="fill">
      <mat-label>Număr mașină</mat-label>
      <input matInput placeholder="OT 29 NYK" formControlName="plateNumber">
      <mat-error *ngIf="formGroup.get('plateNumber')?.invalid">Numărul mașinii nu are un format corect.</mat-error>
      
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Marca</mat-label>
      <input matInput placeholder="BMW" formControlName="made" >
      <mat-error *ngIf="formGroup.get('made')?.invalid">Marca este invalidă.</mat-error>

    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Model</mat-label>
      <input matInput placeholder="X6" formControlName="model">
      <mat-error *ngIf="formGroup.get('model')?.invalid">Modelul este necompletat sau invalid.</mat-error>

    </mat-form-field>

    
    <mat-form-field appearance="fill"   >
      <mat-label>Data expirării</mat-label>
      <input matInput placeholder="ZZ/LL/AAAA"  [matDatepicker]="picker" formControlName="expireDate">
      <mat-error *ngIf="formGroup.get('expireDate')?.invalid">Data expirării are un format incorect.</mat-error>

      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false" ></mat-datepicker>
    </mat-form-field>
    
  </div>
  <button *ngIf="selected != 'niciuna'" mat-raised-button color="primary">Adaugă</button>
  <!--default case when there are no matches -->
  <p *ngSwitchDefault></p>
 
</container-element>
<button mat-button (click)="test()">test</button> 
</form>

<div *ngFor="let subscription of subscriptions"> {{ subscription.model }}</div>