<div class="background">
  <!-- <div class="container">
    <mat-card class="editCard">
      <div class="editForm">
      <mat-label class="fields">Nume:  </mat-label><mat-label class="fieldDetail">{{nume}}</mat-label>
      <mat-label class="fields">Prenume:</mat-label><mat-label class="fieldDetail">{{prenume}}</mat-label>
      <mat-label class="fields">Telefon:</mat-label><mat-label class="fieldDetail">{{telefon}}</mat-label>
      <mat-label class="fields">Data nașterii:</mat-label><mat-label class="fieldDetail">{{dataNasterii | date}}</mat-label>
      </div>
    </mat-card>
  </div> -->



<form [formGroup]="updateUserDetailsForm">
<mat-form-field appearance="fill">
  <mat-label>Nume</mat-label>
  <input matInput placeholder="{{nume}}" formControlName="lastName">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Prenume</mat-label>
  <input matInput placeholder="{{prenume}}" formControlName="firstName">
</mat-form-field>


<mat-form-field appearance="fill">
  <mat-label>Telefon</mat-label>
  <input matInput placeholder="{{telefon}}" formControlName="phoneNumber">
</mat-form-field>


<mat-form-field appearance="fill"   >
<mat-label>Data nașterii</mat-label>
<input matInput  placeholder="{{dataNasterii | date}}"  [matDatepicker]="picker" formControlName="dateOfBirth">
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker disabled="false" ></mat-datepicker>
</mat-form-field>
<button mat-raised-button color="primary" (click)="updateUserDetails()">Actualizează</button> 
</form>


<mat-form-field appearance="fill">
  <mat-label>Tipul</mat-label>
  <mat-select [(value)]="selected">
    <mat-option value="niciuna">Niciuna</mat-option>
    <mat-option value="rca">Asigurare RCA</mat-option>
    <mat-option value="ci">Carte de identitate</mat-option>
    <mat-option value="rov">Rovinieta</mat-option>
    <mat-option value="itp">ITP</mat-option>
  </mat-select>
</mat-form-field>

<container-element [ngSwitch]="selected">
  <!-- the same view can be shown in more than one case -->
    <div *ngSwitchCase="'rca'">
      <app-option-rca></app-option-rca>
    </div>
    <div *ngSwitchCase="'ci'">
      <app-option-carteidentitate></app-option-carteidentitate>
    </div>
    <div *ngSwitchCase="'rov'">
      <app-option-rov></app-option-rov>
    </div>
  <div *ngSwitchCase="'itp'">
      <app-option-itp></app-option-itp>
  </div> 
  <!--default case when there are no matches -->
  <p *ngSwitchDefault></p>
 
</container-element>


<!-- 
<mat-card>
  <mat-card-title class="tableTitle">Acestea sunt abonamentele tale:</mat-card-title>

    <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="plateNumber">
      <th mat-header-cell *matHeaderCellDef> Număr de înmatriculare </th>
      <td mat-cell *matCellDef="let element"> {{element.plateNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="made">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let element"> {{element.made}} </td>
    </ng-container>


    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model </th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>


    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Tipul </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>


    <ng-container matColumnDef="expireDate">
      <th mat-header-cell *matHeaderCellDef> Data expirării </th>
      <td mat-cell *matCellDef="let element"> {{element.expireDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acțiuni</th>
      <td mat-button mat-cell *matCellDef="let element" >
        <button mat-button><mat-icon>edit</mat-icon></button>
        <button mat-button (click)="confirm(element.id)">
          <mat-icon>clear</mat-icon>
        </button>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card> -->
